* {
    box-sizing: border-box;
  }
  
body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  background-color: gainsboro;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12));
  margin: .4rem;
}

.grid-items * {
  border: 1px solid black;
  padding: .2em;
  text-align: center;
}

.pokemon-id {
  grid-column: span 2;
  background-color: lightskyblue;
}

.pokemon-name {
  grid-column: span 5;
  background-color: lightyellow;
}

.pokemon-type {
  grid-column: span 5;
  background-color: greenyellow;
}

.pokemon-stat {
  grid-column: span 3;
  background-color: lightsalmon;
}

.pokemon-id,
.pokemon-name,
.pokemon-type {
  font-size: 1.2rem;
  font-weight: 500;
}

.pokemon-aname {
  grid-column: span 4;
  background-color: darkseagreen;
}